* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eus.eus.acx -text
/apertium-eus.eus.dix -text
/apertium-eus.eus.rlx -text
/apertium-eus.pc.in -text
/autogen.sh -text
/configure.ac -text
dev/add-lemma.py -text
/eus.prob -text
/modes.xml -text
